@import '../../shared/styles/Theme.scss';
@import '../../shared/styles/Mixins.scss';
@import '../../shared/assets/fonts/Roboto-Regular.ttf';
@import '../../shared/assets/fonts/Roboto-Medium.ttf';

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    font-size: 1em;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto-Regular', sans-serif;
    background-color: $body;
    scroll-behavior: smooth;
}

.app {
    @include fl-column;
    height: 100%;
}

.root {
    height: 100vh;    
}

::-webkit-scrollbar {
    width: 0.8rem;
}

::-webkit-scrollbar-thumb {
    background-color: $scrollbar;
    border-radius: 1rem;
}