@import '../../shared/styles/Mixins.scss';
@import '../../shared/styles/Theme.scss';

.auth {
    @include fl-column;
    justify-content: center;
    align-items: center;
    height: 100%;

    &__spinner-holder {
        margin-bottom: 2rem;
    }

    &__login-text {
        @include font-primary;

        margin-bottom: 6.25rem;
        color: $secondaryFont;
        width: 5.625rem;
        margin-left: -0.625rem;
    }

    &__failure-indicator {
        @include font-error;
        
        margin-bottom: 6.25rem;
        text-align: center;
    }
}