@import '../../shared/styles/Theme.scss';
@import '../../shared/styles/Mixins.scss';

.dashboard-holder {
    @include fl-row;
    margin: 0.6rem;
    height: 100%;

    &__transactions {
        @include fl-column;
        flex: 1;
        padding: 0.6em;
    }
        
    &__info-card {
        height: 30%;
        margin-bottom: 1.25rem;
    }

    &__records {
        height: 70%;
    }
}