@import '../../shared/styles/Mixins.scss';
@import '../../shared/styles/Theme.scss';

.add-expense-dialog {
    &__row {
        @include fl-row;
        @include font-primary;
        align-items: center;
        padding-top: 1.25rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        min-width: 21rem;
    }

    &__key {
        flex: 1;
    }
    
    &__value {
        display: flex;
        flex: 1;
    }
}
