@import '../../shared/styles/Mixins.scss';
@import '../../shared/styles/Theme.scss';

.paging {
    @include fl-row;
    align-items: center;
    width: 100%;

    &__item {
        flex: 1;
        user-select: none;
    }

    &__previous-link {
        @include link;

        margin-left: 1.25rem;
    }

    &__next-link {
        @include link;
        
        margin-right: 1.25rem;
        text-align: right; 
    }

    &__page-indicator {
        @include fl-row;
        justify-content: center;
        align-items: center;
    }

    &__input-holder {
        width: 2.5rem;
        
        input {
            @include font-secondary;
            color: $primaryFont;
            text-align: center;
            height: 1.5rem;
        }
    }

    &__total-pages-indicator {
        margin-left: 0.3125rem;
    }
}