@import '../../shared/styles/Theme.scss';
@import '../../shared/styles/Mixins.scss';

.table {
    @include fl-column;
    @include full;
    
    &__rows-container {
        @include fl-column;
        @include full;
        
        position: relative;
        overflow-y: overlay;
        box-shadow: 0 0.0625rem 0.125rem $borderShadow;
    }

    &__row {
        @include fl-row;
        @include font-primary;

        align-items: center;
        padding: 0.625rem;
        height: 2.5rem;
    }
    
    &__row--header {
        @include bold;
        
        background-color: $tableHeader;
        border-bottom: 0.0625rem solid $border;
        box-shadow: 0 0.0625rem 0.125rem $borderShadow;
    }

    &__row--data {
        cursor: pointer;
        
        &:not(.table__row--final) {
            border-bottom: 0.0625rem solid $border;
        }
        
        @media (hover: hover) {
            &:hover {
                background-color: $tableRowHover;
            }
        }
    }

    &__row--selected {
        background-color: $selectedTableRow;
    }

    &__empty-message {
        @include full;
        @include font-primary;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__resize-listener {
        @include resizer;
    }
}