@import '../../shared/styles/Theme.scss';
@import '../../shared/styles/Mixins.scss';

.table-holder {
    @include fl-column;
    @include full;
    
    &__body {
        height: 90%;
    }
    
    &__footer {
        @include fl-row;
        @include font-secondary;

        height: 10%;
        padding: 0.375rem;
        align-items: center;
        justify-content: center;
    }
}
