@import '../../shared/styles/Theme.scss';
@import '../../shared/styles/Mixins.scss';

.navbar {
    @include fl-row;
    @include full;

    height: 4rem;
    align-items: center;
    background-color: $navbar;
    
    &__title {
        font-size: 1.25rem;
        color: $navbarFont;
        margin-left: 0.5rem;
    }

    &__logo {
        opacity: 0.6;
        margin-left: 1rem;
        margin-top: 0.25rem;
    }

    &__social-icon {
        margin-right: 0.8rem;
    }

    &__social-container {
        margin-top: 0.4rem;
        margin-left: auto;
    }
}