@import '../../shared/styles/Theme.scss';
@import '../../shared/styles/Mixins.scss';

.tab-bar {
    @include fl-row;

    width: 100%;
    align-items: flex-end;

    &__tab {
        @include fl-row;

        width: 11.25rem;
        
        @media only screen and (max-device-width: 480px) {
            width: 4rem;
        }
        
        height: 2.5rem;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-top-left-radius: 0.625rem;
        border-top-right-radius: 0.625rem;
        border-top: solid 0.0625rem $border;
        border-left: solid 0.0625rem $border;
        border-right: solid 0.0625rem $border;
        user-select: none;
        cursor: pointer;
    }

    &__tab--inactive {
        background-color: $tabInactive;

        &:hover {
            background-color: $tabHover;
        }
    }
}