@import './Theme.scss';
@import './Mixins.scss';

.button {
    @include fl-row;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border: solid 0.0625rem $border;
    user-select: none;
    margin-left: 0.375rem;
    
    &--default-theme {
        color: $primaryFont;
        
        &:hover {
            background-color: $buttonHover;
        }
    
        &:active {
            box-shadow: 0 0 0.375rem 0.0625rem $borderShadow;
        }
    }

    &--confirm-theme {
        color: $liteFont;
        background-color: $confirmBackground;

        &:hover {
            background-color: $confirmHover;
        }
    
        &:active {
            box-shadow: 0 0 0.375rem 0.0625rem $borderShadow;
        }
    }

    &--rect {
        border-radius: 0.5rem;
        height: 2.25rem;
        min-width: 5rem;
        padding-right: 0.625rem;
        padding-left: 0.625rem;
    }

    &--capsule {
        border-radius: 1.125rem;
        height: 2.25rem;
        min-width: 5rem;
        padding-right: 0.625rem;
        padding-left: 0.625rem;
    }

    &--circle {
        border-radius: 50%;
        height: 2rem;
        width: 2rem;
    }

    &--disabled {
        pointer-events: none;
        opacity: 0.4;
    }
}

