@import './Theme.scss';
@import './Mixins.scss';

.card {
    @include fl-row;
    
    &--grow {
        @include full;
    }
    
    &--rounded {
        border-radius: 0.375rem;
    }
    
    &--shadow {
        box-shadow: 0 0 0.375rem 0.0625rem $borderShadow;
    }
    
    &--borders {
        border: solid 0.0625rem $border;
    }
}