@import './Theme.scss';
@import './Mixins.scss';

.dialog {
    @include fl-column;
    @include full;
    border-radius: 0.375rem;
    background-color: $dialogBackground;

    &__overlay {
        @include fl-row;
        @include full;
        position: fixed;
        top: 0;
        left: 0;
        background: $dialogOverlayBackground;
        justify-content: center;
        align-items: center;
        z-index: $dialog-z-index;
    }

    &__container {
        @include fl-row;
        padding: 1.25rem;

        animation: fadeInUp 500ms ease-in-out;
    }

    &__title {
        @include font-primary;
        @include fl-row;

        padding: 0.75rem;
        font-size: 1.125rem;
        border-bottom: solid 0.0625rem $border;
        align-items: center;
        width: 100%;
    }

    &__footer {
        @include fl-row;

        justify-content: flex-end;
        align-items: center;
        margin-top: 2rem;
        padding: 0.75rem;
        border-top: solid 0.0625rem $border;
    }

    &__delete-button {
        margin-left: auto;
    } 
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(1.25rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}