@import './Mixins.scss';
@import './Theme.scss';

.dropdown {
    outline-width: 0;
    user-select: none;
    display: block;
    position: absolute;
    width: 100%;
    background-color: $body;
    border: solid 0.0625rem $border;
    border-radius: 0.375rem;
    @media only screen and (max-device-width: 480px) {
        max-height: 12.5em;
        overflow-y: overlay;
    }

    &__container {
        @include fl-column;
        @include font-primary;
        position: relative;
        height: 2.25rem;
        width: 100%;
    }

    &__container--lift {
        z-index: 1;
    }

    &--shadow {
        box-shadow: 0 0 0.375rem 0.0625rem $borderShadow;
    }

    &__item-row {
        @include fl-row;
    
        align-items: center;
        cursor: pointer;
        padding-left: 0.5em;
        padding-right: 0.5em;
        height: 2.25rem;
    
        &:hover {
            background-color: $dropdownHover;
        }
    }

    &__item-text {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    
    &__item-icon {
        margin-left: auto;
        opacity: 0.6;
    }
}