@mixin fl-row {
    display: flex;
    flex-flow: row;
}

@mixin fl-column {
    display: flex;
    flex-flow: column;
}

@mixin full {
    width: 100%;
    height: 100%;
}

@mixin font-primary {
    font-size: 1rem;
    color: $primaryFont;
}

@mixin font-secondary {
    font-size: 0.875rem;
    color: $secondaryFont;
}

@mixin bold {
    font-family: 'Roboto-Bold', sans-serif;
}

@mixin font-error {
    color: $errorFont;
}

@mixin link {
    @include bold;

    color: $link;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }

    &:active {
        color: $linkClick;
    }

    &.disabled {
        color: $disabled;
        pointer-events: none;
    }
}

@mixin resizer {
    @include full;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}