@import './Theme.scss';

.spinner {
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-animation: spin 0.8s infinite linear;
  transform: translateZ(0);
  animation: spin 0.8s infinite linear;
  border-radius: 50%;

  &--small {
    border-top: 0.125rem solid $spinnerBackground;
    border-right: 0.125rem solid $spinnerBackground;
    border-bottom: 0.125rem solid $spinnerBackground;
    border-left: 0.125rem solid $spinner;
    width: 1rem;
    height: 1rem;
  }

  &--large {
    border-top: 0.25rem solid $spinnerBackground;
    border-right: 0.25rem solid $spinnerBackground;
    border-bottom: 0.25rem solid $spinnerBackground;
    border-left: 0.25rem solid $spinner;
    width: 3rem;
    height: 3rem;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
