@import './Theme.scss';
@import './Mixins.scss';

.text-input {
    @include font-primary;

    height: 2.25rem;
    width: 100%;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    border-radius: 0.375rem;
    border: solid 0.0625rem $border;

    &:focus {
        outline-width: 0;
        box-shadow: 0 0 0.375rem 0.0625rem $borderShadow;
    }

    &::placeholder {
        color: $placeholder;
    }

    &--error {
        border: solid 0.0625rem $errorFont;
    }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
