// <----------- GLOBAL THEMING ------------------->

// Shared
$body: #ffffff;

// Borders
$border : #d3d3d3;
$borderShadow: #C4C4C4;

// Scrollbar
$scrollbar: rgba(0, 0, 0, 0.1);

// Fonts
$primaryFont: #464444;
$secondaryFont: #464444b9;
$errorFont: red;
$liteFont: white;
$placeholder: rgba(128, 128, 128, 0.418);
$link: rgb(6, 124, 221);
$linkClick: rgba(6, 124, 221, 0.5);
$disabled: #4644445b;


@font-face {
    font-family: 'Roboto-Bold';
    src: url('../../shared/assets/fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../../shared/assets/fonts/Roboto-Regular.ttf') format('truetype');
}

// Managed z-indices
$dialog-z-index: 1;

// <----------- GLOBAL THEMING -------------------/>


// <-------- COMPONENT LEVEL THEMING ------------->

// Navbar
$navbar: #ffffff;
$navbarFont: #363535;

// Tab bar
$tabInactive: rgba(128, 128, 128, 0.116);
$tabHover: rgba(216, 216, 216, 0.63);

// Table
$tableHeader: rgba(219, 228, 235, 0.5);
$tableRowHover: rgb(219, 228, 235);
$selectedTableRow: rgb(253, 255, 209);

// Spinner
$spinner: #363535;
$spinnerBackground: rgba(0,0,0, 0.2);

// Button
$buttonHover: rgb(219, 228, 235);
$confirmBackground: rgb(39, 96, 253);
$confirmHover: rgb(72, 121, 255);

// Dialog
$dialogOverlayBackground: rgba(0, 0, 0, 0.664);
$dialogBackground: rgb(241, 240, 240);

// Dropdown
$dropdownHover: rgb(219, 228, 235);

// LineGraph
$dataPoint: rgb(39, 96, 253);
$dataPointBorder: rgb(163, 187, 253);
$line: rgb(39, 96, 253);
$lineRegion: rgba(183, 201, 252, 0.5);
$graphGridLine: rgb(218, 218, 218);

// </------- COMPONENT LEVEL THEMING END----------->