@import '../../shared/styles/Theme.scss';
@import '../../shared/styles/Mixins.scss';

.filter {
    @include full;
    display: flex;
    align-items: center;
    position: relative;
    overflow-x: scroll;

    &__buttons-holder {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        min-width: 100%;
        padding-left: 0.625rem;
        padding-right: 0.625rem;
    }

    &__button-text {
        padding-left: 0.875rem;
        padding-right: 0.875rem;
        white-space: nowrap;
    }

    &__button-text--clip {
        max-width: 10rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}