@import '../../shared/styles/Mixins.scss';
@import '../../shared/styles/Theme.scss';

.info-card {
    @include fl-column;
    @include full;

    &__header-row {
        @include fl-row;
    }

    &__expense-button {
        padding: 0.375rem;
        justify-content: end;
        margin-left: auto;
    }

    &__item-holder {
        @include fl-row;
        @include full;
    }

    &__coming-soon {
        @include fl-row;
        @include font-secondary;
        @include full;

        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}