@import '../../shared/styles/Theme.scss';
@import '../../shared/styles/Mixins.scss';

.svg-line-graph {
    overflow: hidden;

    &__circle {
        stroke: $dataPointBorder;
        stroke-width: 0.15rem;
        fill: $dataPoint;
        cursor: pointer;
    }

    &__circle:hover {
        stroke-width: 0rem;
    }

    &__line {
        stroke-width: 0.1rem;
        stroke: $line;
        fill: none;
        animation: draw 2.5s linear forwards;
    }

    @keyframes draw {
        to {
            stroke-dashoffset: 0;
        }
    }

    &__line-region {
        fill: url(#graphGradient);
    }

    &__container {
        @include full;
        display: flex;
        position: relative;
    }

    &__resize-listener {
        @include resizer;
    }

    &__grid-line {
        stroke-width: 0.1rem;
        stroke: $graphGridLine;
    }

    &__grid-line--thin {
        stroke-width: 0.05rem;
    }

    &__axis-text {
        @include font-secondary;
        font-size: 0.7rem;
        fill: $secondaryFont;
    }

    &__empty-message {
        @include font-secondary;

        text-align: center;
        position: absolute;
        top: 40%;
        left: 0;
        width: 100%;
        font-size: 1.2rem;
    }
}